.bg-primary{
    background-color: aqua;
}
.bg-secondary{
    background-color: purple;
}
.bg-danger{
    background-color: #E7040F;
}

.primary{
    color: aqua;
}
.secondary{
    color: purple;
}
.danger{
    color: #E7040F;
}



