/* theming */

.bg-primary{
    background-color: aqua;
}
.bg-secondary{
    background-color: purple;
}
.bg-danger{
    background-color: #E7040F;
}

.primary{
    color: aqua;
}
.secondary{
    color: purple;
}
.danger{
    color: #E7040F;
}


/* skins */

.bg-active-skin{
    background-color:  #96ccff;
}
.bg-followup-skin{
    background-color: #a463f2;
}
.bg-interview-skin{
    background-color: #ff725c;
}
.bg-archived-skin{
    background-color: #fbf1a9;
}

.active-skin{
    color:  #357EDD;
}
.followup-skin{
    color: #5E2CA5;
}
.interview-skin{
    color: #FF6300;
}
.archived-skin{
    color: #FFB700;
}




